---
import { useTranslations } from "src/i18n/utils";
import { css } from "src/styled-system/css";
import { listItemsCss } from "src/styles/component-css";

const t = useTranslations(Astro.currentLocale as Lang);

const careerData = [
    {
        title: t("career.0.header"),
        content: t("career.0.content"),
        keywords: t("career.0.content.keywords")
            .split(",")
            .map((keyword) => keyword.trim()),
    },
    {
        title: t("career.1.header"),
        content: t("career.1.content"),
        keywords: t("career.1.content.keywords")
            .split(",")
            .map((keyword) => keyword.trim()),
    },
    {
        title: t("career.2.header"),
        content: t("career.2.content"),
        keywords: t("career.2.content.keywords")
            .split(",")
            .map((keyword) => keyword.trim()),
    },
];

const keywordColorCss = css({
    bg: "accent/10",
});
---

<ul class={listItemsCss}>
    {
        careerData.map(({ title, content, keywords }) => (
            <li class="career-item">
                <h6 class="career-title">{title}</h6>
                <span class="career-content">{content}</span>
                <ul class="career-keywords">
                    {keywords.map((keyword) => (
                        <li class={`career-keyword ${keywordColorCss}`}>
                            {keyword}
                        </li>
                    ))}
                </ul>
            </li>
        ))
    }
</ul>

<style>
    .career-title {
        font-weight: 600;
        margin-top: 0.5rem;
    }

    .career-keywords {
        display: block;
        margin: 0.25rem 0;
    }

    .career-keyword {
        display: inline-block;
        line-height: 1.25;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
        border-radius: 6px;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .career-item {
        margin: 0.5rem 0;
    }
</style>
