---
import { useTranslations } from "src/i18n/utils";
import { numAdjCss } from "src/styles/component-css";
import ExpCard from "src/astro/components/ExpCard.astro";
import type { ExpKey } from "src/i18n/exp-string";

type Props = {};

type ExpTabList = {
    id: string;
    tabCaption: string;
    expKeyList: ExpKey[];
};

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);

const projectTabs: ExpTabList[] = [
    {
        id: "exp2025",
        tabCaption: t("exp.tab.2025"),
        expKeyList: [
            "20250090",
            "20250080",
            "20250070",
            "20250050",
            "20250040",
            "20250020",
            "20250010",
            "20250030",
            "20230080",
            "20230070",
            "20230060",
            "20230050",
            "20230020",
            "20230015",
            "20230010",
            "20210090",
            "20210080",
            "20210070",
            "20210060",
        ],
    },
    {
        id: "exp2018",
        tabCaption: t("exp.tab.2018"),
        expKeyList: [
            "20180070",
            "20180050",
            "20180030",
            "20180020",
            "20150070",
            "20150030",
        ],
    },
    {
        id: "expEtc",
        tabCaption: t("exp.tab.etc"),
        expKeyList: ["20180055", "20150060", "20150050", "20150040"],
    },
];
---

<div id="expWrapper">
    <div
        id="tabButtonWrapper"
        class="projects-tab-button-wrapper"
        role="tablist"
        data-print-hidden
    >
        {
            projectTabs.map((tab, id) => (
                <button
                    type="button"
                    class:list={["tab-button", id === 0 && "is-active"]}
                    data-tab-id={tab.id}
                    data-tab-index={id}
                >
                    {tab.tabCaption}
                </button>
            ))
        }
    </div>
    <div id="tabContents" class="tab-contents">
        {
            projectTabs.map((tab) => (
                <div id={tab.id} class:list={["tab-content"]}>
                    <ol class="tab-card-list">
                        {tab.expKeyList.map((expId) => (
                            <ExpCard expId={expId} />
                        ))}
                    </ol>
                </div>
            ))
        }
    </div>
</div>

<script>
    const expHeader = document.getElementById("experiences")!;
    const expWrapper = document.getElementById("expWrapper")!;
    const tabButtonWrapper = document.getElementById("tabButtonWrapper")!;
    const tabContentsWrapper = document.getElementById("tabContents")!;
    const tabContents = [
        ...tabContentsWrapper.querySelectorAll(".tab-content"),
    ] as HTMLElement[];
    const tabButtons = [
        ...tabButtonWrapper.querySelectorAll("button"),
    ] as HTMLElement[];

    tabButtonWrapper.addEventListener("click", (ev) => {
        const target = ev.target as HTMLElement;
        const element = target.closest("[data-tab-id]") as HTMLElement;

        if (!element) return;

        const tabId = parseInt(
            element.getAttribute("data-tab-index") || "0",
            10,
        );

        activeTabButton(tabId);
    });

    const defaultTabId = getDefaultTabId();

    activeTabButton(defaultTabId, defaultTabId !== 0);

    function activeTabButton(tabId: number, moveScroll = true) {
        // reset is-active
        tabButtons.forEach((el) => el.classList.remove("is-active"));
        tabContents.forEach((el) => el.classList.remove("is-active"));
        tabButtons[tabId].classList.add("is-active");
        tabContents[tabId].classList.add("is-active");

        if (moveScroll)
            expHeader.scrollIntoView({
                behavior: "smooth",
                block: "nearest",
            });
        expWrapper.style.setProperty("--active-tab-index", `${tabId}`);
    }

    function getDefaultTabId() {
        const urlHash = location.hash.slice(1);

        if (urlHash) {
            const findIndex = tabContents.findIndex(
                (element) => element.id === urlHash,
            );

            return findIndex !== -1 ? findIndex : 0;
        }

        return 0;
    }
</script>

<style>
    :root {
        --tab-button-width: 80px;
        --tab-button-gap: 4px;
        --tab-button-offset: -12px;
        --tab-ani-duration: 0.5s;
    }

    .projects-tab-button-wrapper {
        position: sticky;
        top: 0;
        z-index: 2000;
        padding: 0.5rem 0;
        display: flex;
        column-gap: var(--tab-button-gap);
        align-items: end;
        margin-left: calc(var(--spacing-doc-pad-left) * -1);
        margin-right: calc(var(--spacing-doc-pad-right) * -1);
        padding-left: calc(
            var(--spacing-doc-pad-left) + var(--tab-button-offset)
        );
        background-color: var(--colors-background-light);
        border-bottom: 1px solid var(--colors-background);

        & > li {
            display: contents;
        }

        &::before {
            transition: all var(--tab-ani-duration) ease-in-out;
            content: "";
            position: absolute;
            top: 0.25rem;
            left: calc(
                var(--tab-button-offset) + var(--spacing-doc-pad-left) +
                    (
                        var(--active-tab-index) *
                            (var(--tab-button-width) + var(--tab-button-gap))
                    )
            );
            width: calc(var(--tab-button-width));
            bottom: 0.25rem;
            background-color: var(--colors-accent-o20);
            border-radius: 0.5rem;
        }
    }

    .project-year-group {
        margin: 0.5rem 0;
    }

    .tab-content {
        transition: margin-left var(--tab-ani-duration) ease-in-out;
        min-width: 100%;

        &:first-child {
            margin-left: calc(var(--active-tab-index) * -100%);
        }

        &:not(.is-active) {
            max-height: 0;
        }
    }

    .tab-contents {
        background-color: var(--colors-background);
        display: flex;
        overflow: hidden;
        scrollbar-width: none;
        align-items: flex-start;
        z-index: 0;
        width: calc(
            100% + var(--spacing-doc-pad-right) + var(--spacing-doc-pad-left)
        );
        margin-left: calc(var(--spacing-doc-pad-left) * -1);
    }

    .tab-button {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        transition: all 0.25s ease-in-out;
        opacity: 0.5;
        cursor: pointer;
        text-align: center;
        border-radius: 4px;
        z-index: 10;
        width: var(--tab-button-width);

        &:hover {
            opacity: 0.8;
        }

        &.is-active {
            opacity: 1;
        }
    }

    .tab-card-list {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        margin-top: calc(0.5rem - 1px);
    }

    @media print {
        .tab-contents {
            flex-direction: column;
            max-height: fit-content;
        }

        .tab-content {
            transition: none;
            margin-left: 0;
        }

        .tab-contents-header {
            display: none;
        }
    }
</style>
