---
import { useTranslations, type ExpKeyPrefix } from "src/i18n/utils";
import { numAdjCss } from "src/styles/component-css";
import ExpCard from "src/astro/components/ExpCard.astro";

type Props = {};

type ExpTabList = {
    id: string;
    tabCaption: string;
    header: string;
    expList: ExpKeyPrefix[];
};

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);

const projectTabs: ExpTabList[] = [
    {
        id: "exp2025",
        tabCaption: t("exp.tab.2025"),
        header: t("exp.tab.2025.header"),
        expList: [
            "2025009",
            "2025008",
            "2025007",
            "2025006",
            "2025005",
            "2025004",
            "2025003",
            "2025002",
            "2025001",
        ],
    },
    {
        id: "exp2023",
        tabCaption: t("exp.tab.2023"),
        header: t("exp.tab.2023.header"),
        expList: [
            "2023008",
            "2023007",
            "2023006",
            "2023005",
            "2023004",
            "2023003",
            "2023002",
            "2023001",
        ],
    },
    {
        id: "exp2021",
        tabCaption: t("exp.tab.2021"),
        header: t("exp.tab.2021.header"),
        expList: [
            "2021007",
            "2021006",
            "2021005",
            "2021004",
            "2021003",
            "2021002",
            "2021001",
        ],
    },
    {
        id: "exp2018",
        tabCaption: t("exp.tab.2018"),
        header: t("career.1.content"),
        expList: [
            "2018008",
            "2018007",
            "2018006",
            "2018005",
            "2018004",
            "2018003",
            "2018002",
            "2018001",
        ],
    },
    {
        id: "exp2015",
        tabCaption: t("exp.tab.2015"),
        header: t("career.2.content"),
        expList: [
            "2015006",
            "2015005",
            "2015004",
            "2015003",
            "2015002",
            "2015001",
        ],
    },
];
---

<div id="expWrapper">
    <div
        id="tabButtonWrapper"
        class="projects-tab-button-wrapper"
        role="tablist"
        data-print-hidden
    >
        {
            projectTabs.map((tab, id) => (
                <button
                    type="button"
                    class:list={[
                        "tab-button",
                        numAdjCss,
                        id === 0 && "is-active",
                    ]}
                    data-tab-id={tab.id}
                    data-tab-index={id}
                >
                    {tab.tabCaption}
                </button>
            ))
        }
    </div>
    <div id="tabContents" class="tab-contents">
        {
            projectTabs.map((tab, id) => (
                <div id={tab.id} class:list={["tab-content"]}>
                    <header class="tab-contents-header">{tab.header}</header>
                    <ol>
                        {tab.expList.map((expId) => (
                            <ExpCard expId={expId} />
                        ))}
                    </ol>
                </div>
            ))
        }
    </div>
</div>

<script>
    const expHeader = document.getElementById("experiences")!;
    const expWrapper = document.getElementById("expWrapper")!;
    const tabButtonWrapper = document.getElementById("tabButtonWrapper")!;
    const tabContentsWrapper = document.getElementById("tabContents")!;
    const tabContents = [
        ...tabContentsWrapper.querySelectorAll(".tab-content"),
    ] as HTMLElement[];
    const tabButtons = [
        ...tabButtonWrapper.querySelectorAll("button"),
    ] as HTMLElement[];

    tabButtonWrapper.addEventListener("click", (ev) => {
        const target = ev.target as HTMLElement;
        const element = target.closest("[data-tab-id]") as HTMLElement;

        if (!element) return;

        const tabId = parseInt(
            element.getAttribute("data-tab-index") || "0",
            10,
        );

        activeTabButton(tabId);
    });

    activeTabButton(getDefaultTabId());

    function activeTabButton(tabId: number) {
        // reset is-active
        tabButtons.forEach((el) => el.classList.remove("is-active"));
        tabButtons[tabId].classList.add("is-active");

        expHeader.scrollIntoView({
            behavior: "smooth",
            block: "nearest",
        });
        expWrapper.style.setProperty("--active-tab-index", `${tabId}`);
        expWrapper.style.setProperty(
            "--tab-max-height",
            `${tabContents[tabId].scrollHeight}px`,
        );
    }

    function getDefaultTabId() {
        const urlHash = location.hash.slice(1);

        if (urlHash) {
            const findIndex = tabContents.findIndex(
                (element) => element.id === urlHash,
            );

            return findIndex !== -1 ? findIndex : 0;
        }

        return 0;
    }
</script>

<style>
    :root {
        --tab-button-width: 64px;
        --tab-button-gap: 4px;
    }

    .projects-tab-button-wrapper {
        position: sticky;
        top: 0;
        z-index: 2000;
        padding: 0.5rem 0;
        display: flex;
        column-gap: var(--tab-button-gap);
        align-items: end;
        margin-left: calc(var(--spacing-doc-pad-left) * -1);
        margin-right: calc(var(--spacing-doc-pad-right) * -1);
        padding-left: calc(var(--spacing-doc-pad-left) - 0.6rem);
        background-color: var(--colors-background-light);

        & > li {
            display: contents;
        }

        &::before {
            transition: all 0.75s ease-in-out;
            content: "";
            position: absolute;
            top: 0.25rem;
            left: calc(
                -0.6rem + var(--spacing-doc-pad-left) + (var(--active-tab-index) *
                            (var(--tab-button-width) + var(--tab-button-gap)))
            );
            width: calc(var(--tab-button-width));
            bottom: 0.25rem;
            background-color: var(--colors-accent-o10);
            border-radius: 0.5rem;
        }
    }

    .project-year-group {
        margin: 0.5rem 0;
    }

    .tab-contents-header {
        display: inline;
        margin-top: 0.5rem;
        margin-left: var(--spacing-doc-pad-left);
        font-weight: 500;
        opacity: 0.9;
    }

    .tab-content {
        transition: all 0.75s ease-in-out;
        min-width: 100%;

        &:first-child {
            margin-left: calc(var(--active-tab-index) * -100%);
        }
    }

    .tab-contents {
        transition: max-height 0.75s ease-in-out;
        display: flex;
        overflow: hidden;
        scrollbar-width: none;
        align-items: flex-start;
        z-index: 0;
        width: calc(
            100% + var(--spacing-doc-pad-right) + var(--spacing-doc-pad-left)
        );
        margin-left: calc(var(--spacing-doc-pad-left) * -1);
        max-height: var(--tab-max-height);
    }

    @media print {
        .tab-contents {
            flex-direction: column;
            max-height: fit-content;
        }

        .tab-content {
            margin-left: 0;
        }
    }

    .tab-button {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        transition: all 0.25s ease-in-out;
        opacity: 0.5;
        cursor: pointer;
        text-align: center;
        border-radius: 4px;
        z-index: 10;
        width: var(--tab-button-width);

        &:hover {
            opacity: 0.8;
        }

        &.is-active {
            opacity: 1;
        }
    }
</style>
