---
import Icon from "../components/Icon.astro";

type Props = {
    mode?: "list" | "simple";
};

const { mode = "list" } = Astro.props;

const bannerList = [
    ["https://github.com/lee-gyu", "vsc-github", "GitHub", "github link"],
    ["https://medium.com/@gyuc219", "vsc-book", "Blog", "blog link"],
] as const;
---

<ul class={`links-${mode}`}>
    {
        bannerList.map(([url, icon, text, title]) => (
            <li class="links-item">
                {mode === "list"
                    ? (
                <Icon icon={icon} />
                <a href={url} title={title} target="_blank">
                    {url}
                </a>
                    )
                : (
                    <a href={url} title={title} target="_blank">
                        {text}
                    </a>
                )}
            </li>
        ))
    }
</ul>

<style>
    .links-simple {
        display: inline-flex;
        column-gap: 0.5rem;
    }

    .links-list {
        margin-top: 0.25rem;
        line-height: 2;
    }

    .links-item {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        font-size: 0.875rem;

        i {
            font-size: 1.125rem;
        }

        a {
            text-decoration: underline;
        }
    }
</style>
