---
import { useTranslations } from "src/i18n/utils";
import { experiencesKo, type ExpKey } from "src/i18n/exp-string";
import Title from "src/astro/components/Title.astro";
import { listItemsCss } from "src/styles/component-css";
import ListItems from "./ListItems.astro";
import UrlListItems from "./UrlListItems.astro";
import ImgList from "./ImgList.astro";

type Props = {
    expId: ExpKey;
    printHidden?: boolean;
};

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
const { expId, printHidden } = Astro.props;

const expData = experiencesKo[expId];
---

<article class="exp-card" data-print-hidden={printHidden ? true : null}>
    <Title size="h4">{expData.header}</Title>
    <ul class={listItemsCss}>
        <ListItems label={t(`exp.label.year`)} contents={expData.year} />
        <ListItems label={t(`exp.label.date`)} contents={expData.date} />
        <ListItems label={t(`exp.label.period`)} contents={expData.period} />
        <ListItems label={t(`exp.label.summary`)} contents={expData.summary} />
        <ListItems label={t(`exp.label.role`)} contents={expData.role} />
        <ListItems label={t(`exp.label.co-op`)} contents={expData["co-op"]} />
        <ListItems label={t(`exp.label.result`)} contents={expData.result} />
        <ListItems label={t(`exp.label.tasks`)} contents={expData.tasks} />
        <ListItems label={t(`exp.label.tech`)} contents={expData.tech} />
        <ListItems label={t(`exp.label.feat`)} contents={expData.feat} />
        <ListItems label={t(`exp.label.issue`)} contents={expData.issue} />
        <UrlListItems
            label={t("exp.label.urls")}
            urls={expData.urls}
            urlText={expData.urlText}
        />
        {
            expData.imgUrls && expData.imgLabel && (
                <li>
                    <span>참고 자료:</span>
                    <ImgList
                        imgUrls={expData.imgUrls}
                        imgLabel={expData.imgLabel}
                    />
                </li>
            )
        }
    </ul>
    {
        expData.story && (
            <label class="exp-details">
                <p class="exp-story">{expData.story}</p>
            </label>
        )
    }
</article>

<style>
    .exp-card {
        page-break-inside: avoid;
        padding: 1rem var(--spacing-doc-pad-right) 1rem
            var(--spacing-doc-pad-left);
        background-color: var(--colors-background-light);
    }

    .exp-details {
        display: flex;
        margin-top: 0.5rem;
    }

    .exp-story {
        white-space: pre-wrap;
        word-break: keep-all;
        overflow: hidden;
        color: var(--colors-text-light);
        line-height: 1.33;
        max-width: 64ch;
    }

    @media print {
        .exp-card {
            background: none !important;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            border-bottom: none;
        }

        .exp-details {
            padding: 0;
            margin: 0;
        }
    }
</style>
