---
import {
    useTranslations,
    type ExpKeyPrefix,
    type ExpProps,
} from "src/i18n/utils";
import Title from "src/astro/components/Title.astro";
import { splitWithCommas } from "src/utils/string";
import { listItemsCss } from "src/styles/component-css";
import { split } from "postcss/lib/list";

type Props = {
    expId: ExpKeyPrefix;
};

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
const { expId } = Astro.props;

const expData: Partial<Record<ExpProps, string>> = {
    header: t(`exp.${expId}.header`),
    date: t(`exp.${expId}.date`),
    period: t(`exp.${expId}.period`),
    role: t(`exp.${expId}.role`),
    result: t(`exp.${expId}.result`),
    story: t(`exp.${expId}.story`),
    tech: t(`exp.${expId}.tech`),
    urls: t(`exp.${expId}.urls`),
    urlText: t(`exp.${expId}.urlText`),
    tasks: t(`exp.${expId}.tasks`),
};

const urls = splitWithCommas(expData.urls ?? "");
const urlText = splitWithCommas(expData.urlText ?? "");
const tasks = splitWithCommas(expData.tasks ?? "");
const result = splitWithCommas(expData.result ?? "");

const headerLines = ["date", "period", "role", "tech"] as const;
---

<li class="exp-card">
    <Title size="h4">{expData.header}</Title>
    <ul class={listItemsCss}>
        {
            headerLines
                .filter((prop) => expData[prop])
                .map((prop) => (
                    <li>
                        <span class="exp-label">{t(`exp.label.${prop}`)}</span>
                        <span class="exp-desc">{expData[prop]}</span>
                    </li>
                ))
        }
        {
            expData.result && result.length > 0 && (
                <li>
                    <span class="exp-label">{t(`exp.label.result`)}</span>
                    {result.length === 1 ? (
                        <span class="exp-desc">{expData.result}</span>
                    ) : (
                        <ul class="task-list">
                            {result.map((task) => (
                                <li>{task}</li>
                            ))}
                        </ul>
                    )}
                </li>
            )
        }
        {
            expData.urls && urls.length > 0 && (
                <li>
                    <span class="exp-label">{t(`exp.label.urls`)}</span>
                    <div class="url-list">
                        {urls.map((url, id) => (
                            <a
                                href={url}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                {urlText[id]}
                            </a>
                        ))}
                    </div>
                </li>
            )
        }
        {
            expData.tasks && tasks.length > 0 && (
                <li>
                    <span class="exp-label">{t(`exp.label.tasks`)}</span>
                    {tasks.length === 1 ? (
                        <span class="exp-desc">{expData.tasks}</span>
                    ) : (
                        <ul class="task-list">
                            {tasks.map((task) => (
                                <li>{task}</li>
                            ))}
                        </ul>
                    )}
                </li>
            )
        }
    </ul>
    {
        expData.story && (
            <label class="exp-details">
                <p class="exp-story">{expData.story}</p>
            </label>
        )
    }
</li>

<style>
    .exp-card {
        transition: all 0.15s ease-in-out;
        border-bottom: 2px solid var(--colors-background);
        padding: 1rem var(--spacing-doc-pad-right) 1rem
            var(--spacing-doc-pad-left);
    }

    .exp-label::after {
        content: ":";
        margin-left: 0.25rem;
    }

    .exp-details {
        display: flex;
        margin-top: 0.5rem;
    }

    .exp-story {
        white-space: pre-wrap;
        word-break: keep-all;
        overflow: hidden;
        color: var(--colors-text-light);
        line-height: 1.33;
        max-width: 50ch;
    }

    .url-list {
        display: inline-flex;
        column-gap: 0.5rem;
        flex-wrap: wrap;

        a {
            transition: all 0.15s ease-in-out;
            text-decoration: underline;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }
    }

    .task-list {
        list-style: circle;
        padding-left: 0.5rem;
    }

    @media print {
        .exp-card {
            background: none !important;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            border-bottom: none;
        }

        .exp-story {
            display: none !important;
        }

        .exp-details {
            padding: 0;
            margin: 0;
        }
    }
</style>
