---
import { useTranslations } from "src/i18n/utils";
import { experiencesKo, type ExpKey } from "src/i18n/exp-string";
import Title from "src/astro/components/Title.astro";
import { listItemsCss } from "src/styles/component-css";
import ListItems from "./ListItems.astro";
import UrlListItems from "./UrlListItems.astro";

type Props = {
    expId: ExpKey;
};

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
const { expId } = Astro.props;

const expData = experiencesKo[expId];
---

<li class="exp-card">
    <Title size="h4">{expData.header}</Title>
    <ul class={listItemsCss}>
        <ListItems label={t(`exp.label.date`)} contents={expData.date} />
        <ListItems
            label={t(`exp.label.period`)}
            enableSplit={false}
            contents={expData.period}
        />
        <ListItems label={t(`exp.label.role`)} contents={expData.role} />
        <ListItems label={t(`exp.label.result`)} contents={expData.result} />
        <ListItems label={t(`exp.label.summary`)} contents={expData.summary} />
        <ListItems label={t(`exp.label.tasks`)} contents={expData.tasks} />
        <ListItems label={t(`exp.label.tech`)} contents={expData.tech} />
        <ListItems label={t(`exp.label.issue`)} contents={expData.issue} />
        <UrlListItems
            label={t("exp.label.urls")}
            urls={expData.urls}
            urlText={expData.urlText}
        />
    </ul>
    {
        expData.story && (
            <label class="exp-details">
                <p class="exp-story">{expData.story}</p>
            </label>
        )
    }
</li>

<style>
    .exp-card {
        transition: all 0.15s ease-in-out;
        border-bottom: 4px solid var(--colors-background);
        padding: 1rem var(--spacing-doc-pad-right) 1rem
            var(--spacing-doc-pad-left);
    }

    .exp-details {
        display: flex;
        margin-top: 0.5rem;
    }

    .exp-story {
        white-space: pre-wrap;
        word-break: keep-all;
        overflow: hidden;
        color: var(--colors-text-light);
        line-height: 1.33;
        max-width: 60ch;
    }

    @media print {
        .exp-card {
            background: none !important;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            border-bottom: none;
        }

        .exp-details {
            padding: 0;
            margin: 0;
        }
    }
</style>
