---
import { splitCommas } from "src/utils/string";
import Icon from "./Icon.astro";

type Props = {
    imgUrls: string;
    imgLabel: string;
};

const { imgUrls, imgLabel } = Astro.props;

const imgUrlList = splitCommas(imgUrls);
const imgLabelList = splitCommas(imgLabel);

function getUrl(url: string) {
    return `${import.meta.env.PUBLIC_BASE_URL ?? DEFAULT_BASE_URL}${url}`;
}
---

<div class="image-viewer">
    {
        imgUrlList.map((url, id) => (
            <a
                class="img-button"
                href={getUrl(url)}
                target="_blank"
                rel="noopener noreferrer"
            >
                <figure>
                    <img src={getUrl(url)} alt={imgLabelList[id]} />
                    <figcaption class="img-caption">
                        {imgLabelList[id]}
                        <Icon icon="io5-open" />
                    </figcaption>
                </figure>
            </a>
        ))
    }
</div>

<style>
    .image-viewer {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.5rem;
        margin-left: -0.5rem;

        img {
            height: 72px;
            aspect-ratio: 16/9;
            margin: 0 auto 0.25rem auto;
            object-fit: cover;
            object-position: top left;
        }
    }

    .img-button {
        transition:
            transform 0.25s ease-in-out,
            background-color 0.25s ease-in-out;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: var(--colors-bg-o60);
            transform: scale(1.05);
        }

        i {
            float: right;
        }
    }

    .img-caption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 0.5rem;
        font-weight: 300;
        font-size: 0.875rem;
    }
</style>
