---
import DefaultLayout from "src/astro/layouts/DefaultLayout.astro";
import Links from "src/astro/widget/Links.astro";
import Career from "src/astro/widget/Career.astro";
import MainJob from "src/astro/widget/MainJob.astro";

import Title from "src/astro/components/Title.astro";
import { css } from "src/styled-system/css";
import { useTranslations } from "src/i18n/utils";
import Experiences from "../widget/Experiences.astro";
import Awards from "../widget/Awards.astro";
import Skills from "../components/Skills.astro";

type Props = {};

export function getStaticPaths() {
    return [{ params: { lang: "ko" } }, { params: { lang: "en" } }];
}

const mainCss = css({
    background: "backgroundLight",
    paddingLeft: "docPadLeft",
    paddingRight: "docPadRight",
    paddingTop: "2rem",
    marginTop: "docPadTop",
});

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);

const emailLinkCss = css({
    color: "text/80",
    fontSize: "0.875rem",
});

const sectionCss = css({
    margin: "1rem 0",
});
---

<DefaultLayout lang={lang}>
    <main class={mainCss}>
        <Title size="h1">{t("name")}</Title>
        <Title size="h2"
            >{t("jobTitle")}<span class="job-years">({t("jobYears")})</span
            ></Title
        >
        <a class={emailLinkCss} href="mailto:leegyu4dev@gmail.com"
            >leegyu4dev@gmail.com</a
        >
        <Links />
        <section class={sectionCss}>
            <Title id="mainJob" size="h3">{t("mainJob")}</Title>
            <MainJob />
        </section>
        <section class={sectionCss} role="article">
            <Title id="career" size="h3">{`${t("career")}`}</Title>
            <Career />
        </section>
        <section class={sectionCss} role="article">
            <Title id="skills" size="h3">{`${t("skills")}`}</Title>
            <Skills />
        </section>
        <section class={sectionCss} role="article">
            <Title id="awards" size="h3">{`${t("awards")}`}</Title>
            <Awards />
        </section>
        {
            lang !== "en" && (
                <section class={css({ marginTop: "1rem" })} role="article">
                    <Title id="experiences" size="h3">
                        {t("experience")}
                    </Title>
                    <Experiences />
                </section>
            )
        }
    </main>
</DefaultLayout>

<style is:global>
    #experiences {
        page-break-before: always;
    }

    .job-years {
        white-space: nowrap;
        margin-left: 0.25rem;
        word-break: keep-all;
    }
</style>
