---
import DefaultLayout from "src/astro/layouts/DefaultLayout.astro";
import { Links } from "src/solid/widget/Links";
import Career from "src/astro/widget/Career.astro";
import MainJob from "src/astro/widget/MainJob.astro";

import Title from "src/astro/components/Title.astro";
import { css } from "src/styled-system/css";
import { useTranslations } from "src/i18n/utils";
import Experiences from "../widget/Experiences.astro";
import Awards from "../widget/Awards.astro";
import Skills from "../components/Skills.astro";
import { format } from "src/utils/date";
import dayjs from "dayjs";

type Props = {};

export function getStaticPaths() {
    return [{ params: { lang: "ko" } }, { params: { lang: "en" } }];
}

const mainCss = css({
    background: "backgroundLight",
    paddingLeft: "docPadLeft",
    paddingRight: "docPadRight",
    paddingBottom: "docPadBottom",
    paddingTop: "2rem",
    marginTop: "docPadTop",
});

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);

const emailLinkCss = css({
    color: "text/80",
    fontSize: "0.875rem",
});

const sectionCss = css({
    margin: "1rem 0",
});

const lastUpdated = format(dayjs(LAST_UPDATED), lang);
---

<DefaultLayout lang={lang}>
    <main class={mainCss}>
        <div class="updated-info hidden-info" data-only-print="block">
            <span>{t("lastUpdated")} {lastUpdated}</span>
        </div>
        <Title size="h1">{t("name")} </Title>
        <Title size="h2">{t("jobTitle")}</Title>
        <div class={emailLinkCss}>
            <p>{t("birthdate")}</p>
            <a href="mailto:leegyu4dev@gmail.com">leegyu4dev@gmail.com</a>
        </div>
        <p class="job-desc">{t("jobDesc")}</p>
        <section class={sectionCss}>
            <Links />
        </section>
        <section class={sectionCss}>
            <Title id="mainJob" size="h3">{t("mainJob")}</Title>
            <MainJob />
        </section>
        <section class={sectionCss} role="article">
            <Title id="skills" size="h3">{`${t("skills")}`}</Title>
            <Skills />
        </section>
        <section class={sectionCss} role="article">
            <Title id="career" size="h3">{`${t("career")}`}</Title>
            <Career />
        </section>
        <section class={sectionCss} role="article">
            <Title id="awards" size="h3">{`${t("awards")}`}</Title>
            <Awards />
        </section>
        {
            lang !== "en" && (
                <section class={css({ marginTop: "1rem" })} role="article">
                    <Title id="experiences" size="h3">
                        {t("experience")}
                    </Title>
                    <p class="hidden-info" data-only-print="block">
                        {t("experience.print-desc")}
                        <a
                            class="text-link"
                            href={import.meta.env.PUBLIC_BASE_URL}
                        >
                            {t("experience.print-link")}
                        </a>
                    </p>
                    <Experiences />
                </section>
            )
        }
    </main>
</DefaultLayout>

<script>
    window.addEventListener("load", () => {
        document.querySelectorAll(".img-button").forEach((wrapper) => {
            const video = wrapper.querySelector("video");

            if (!video) return;

            wrapper.addEventListener("mouseenter", () => {
                video.play();
            });

            wrapper.addEventListener("mouseleave", () => {
                video.pause();
                video.currentTime = 0;
            });
        });
    });
</script>

<style is:global>
    #experiences {
        page-break-before: always;
    }

    .job-years {
        white-space: nowrap;
        margin-left: 0.25rem;
        word-break: keep-all;
    }

    .hidden-info {
        font-size: 0.875rem;
        opacity: 0.75;
    }

    .updated-info {
        margin-top: -1rem;
        text-align: right;
    }

    .job-desc {
        max-width: 60ch;
        margin-top: 0.25rem;
        font-size: 0.875rem;
        white-space: pre-wrap;
        word-break: keep-all;
    }
</style>
